@import '/src/assets/styles/mixins';

.messageBlock {
}

.sentText {
  @include flex-center-end;
  width: 100%;
  padding: 0 0.3rem;
}

.inText {
  @include flex-center-start;
  width: 100%;
  padding: 0 0.3rem;
}

.messageBubble {
  //   background-color: #0077ff;
  border-radius: 20px;
  padding: 0.8rem;
  margin: 3px 0;
  display: flex;
  align-items: center;
  max-width: 40%;
  min-width: 30%;
  word-break: break-word;
  color: white;
  position: relative;
  // box-shadow: 0 4px 10px var(--grey-color);
  p {
    margin: 0;
    flex: 1;
    font-size: 0.8rem;
  }
}

.messageBubbleSent {
  background-image: var(--dialog-block-opened);
  &::before {
    content: '';
    // background-color: #5de6de;
    position: absolute;
    right: -17px;
    top: 14px;
    width: 0;
    height: 0;
    border-style: solid;
    border: 9px solid transparent;
    border-left: 11px solid var(--before-message-bubble);
  }
}

.messageBubbleIn {
  background-color: var(--dialog-block-hover);
  // box-shadow: 0 1px 7px var(--grey-color); // Новое
  &::before {
    content: '';
    // background-color: var(--dialog-block-hover);
    position: absolute;
    left: -9px;
    top: 14px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 12px 8px 0;
    border-color: transparent var(--dialog-block-hover) transparent transparent;
  }
}

.messageBubbleLong {
  display: block;
}

.timestamp {
  margin-left: 16px;
  font-size: 14px;
  opacity: 0.8;
  font-size: 0.7rem;
}

.timestampLongText {
  text-align: end;
  margin-top: 5px;
}

@media (max-width: 1200px) {
  .messageBubble {
    max-width: 60%;
  }
}

@media (max-width: 960px) {
  .messageBubble {
    max-width: 80%;
  }
}

@media (max-width: 640px) {
  .messageBubble {
    max-width: 90%;
  }
}
