.searchInput {
  width: 100%;
  padding: var(--block-padding);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey-color);
}

.searchIcon {
  font-size: 2rem;
  margin-right: 5%;
  svg {
    font-size: 1.5rem;
    color: var(--grey-color);
  }
}

.input {
  width: 100%;
  input {
    width: 100%;
    color: #fff;
    &::placeholder {
      color: var(--grey-color);
    }
  }
}
