@import "/src/assets/styles/mixins";

.page {
  display: grid;
  grid-template-columns: 10% 28% 62%;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .page {
    grid-template-columns: 10% 35% 55%;
  }
}

@media (max-width: 960px) {
  .page {
    grid-template-columns: 10% 40% 50%;
  }
}

@media (max-width: 768px) {
  .page {
    grid-template-columns: 10% 45% 45%;
  }
}

@media (max-width: 480px) {
  .page {
    @include flex-center;
    flex-direction: column-reverse;
  }
}