@import "/src/assets/styles/mixins";

.headerActions {
  width: 100%;
  height: 100%;
  @include flex-center-end;
  padding: var(--block-padding);
  display: flex;
  align-items: center;
  padding: 0;
  svg {
    font-size: 1.5rem;
    color: var(--grey-color);
    cursor: pointer;
    &:hover {
      color: white;
    }
  }
}

.headerActionsIcons {
  display: flex;
  margin: 0;
}

.phoneIcon {
  margin-right: 2rem;
}

.searchIcon {
  margin-right: 1.5rem;
}

.input {
  background-color: rgb(255 255 255 / 20%);
  width: 50%;
  border-radius: 10px;
  margin-right: 0.8rem;
  input {
    width: 100%;
    color: #fff;
    padding: 0.6rem;
    &::placeholder {
      color: var(--grey-color);
    }
  }
}
